body {
  background: #EFEFBB;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  color: white;
  margin: 0;
  font-family: "rubik";
}

nav { 
border: 1px solid rgb(201, 178, 178);
border-radius: 10px;
background-color: rgb(224, 76, 200);
height: 12vh;
display: flex;
justify-content: center;

align-items: center;

}

.searcher {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 74.8vw;
  
  width: 4vw;
  margin-bottom: -3.5vh;

}


#search {

margin-left: 80vw;
border-radius: 50px;
height: 20px;
margin-bottom: 15px;
border: 1px solid black;
}

#search p {
  border: 1px solid black;
}
.all {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  gap: 20px;
  
}

.theCard {

  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: black;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid rgb(172, 38, 165);
 
  
}

.theCard::after{

}

.theCard img {
  width: 15vw;
}

h2 {
 display: flex;
 justify-content: center;
}

.home-link  {
  position: absolute;
 border: 1px solid rgb(194, 176, 176);
 margin-right: 100vw;
 background-color:rgb(197, 230, 236) ;
 width: 5vw;
 height: 4vh;display: flex;
 justify-content: center;
 align-items: center;
 color: black;
 font-family: 'Courier New', Courier, monospace;

 border-radius: 20px;
}

.home-link:hover{
  opacity: 0.8;
}